<div class='container-fluid'>
  <div class='row'>
    <br><br>
    <div class='col-lg-10 col-lg-offset-1 section'>
      <mat-card>
        <mat-card-title>
          Your winnings
        </mat-card-title>
        <mat-card-subtitle>
          See all your winnings here...
        </mat-card-subtitle>
        <mat-card-content>
          Nothing here
        </mat-card-content>
      </mat-card>
    </div>
    <br><br>
    <div class='col-lg-10 col-lg-offset-1 section'>
      <mat-card>
        <mat-card-title>
          Your bids
        </mat-card-title>
        <mat-card-subtitle>
          See all your bids here...
        </mat-card-subtitle>
        <mat-card-content>
          Nothing here
        </mat-card-content>
      </mat-card>
    </div>
    <br><br>
    <div class='col-lg-10 col-lg-offset-1 section'>
        <mat-card>
          <mat-card-title>
            Your items
          </mat-card-title>
          <mat-card-subtitle>
            See all your items here...
          </mat-card-subtitle>
          <mat-card-content>
            Nothing here
          </mat-card-content>
        </mat-card>
      </div>
  </div>
</div>