<div class='container-fluid'>
  <div class='row'>
    <div class='col-lg-10 col-lg-offset-1 section text-center'>
      <mat-card>
        <img mat-card-img src='../../assets/img/person.png' id='profileImg'>
        <mat-card-content>
          <mat-card-title>
            Doe, John <span class='material-icons' routerLink='/editProfile'>edit</span>
          </mat-card-title>
          <mat-card-content>
            <p>Auctions won: 0</p>
            <p>Items sold: 0</p>
            <p>Total bids: 0</p>
          </mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
    <div class='col-lg-10 col-lg-offset-1 section'>
      <mat-card>
        <mat-card-title>
          Your winnings
        </mat-card-title>
        <mat-card-subtitle>
          See all your winnings here...
        </mat-card-subtitle>
        <mat-card-content>
          Nothing here
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><span class='material-icons'>history</span></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <br><br>
    <div class='col-lg-10 col-lg-offset-1 section'>
      <mat-card>
        <mat-card-title>
          Your bids
        </mat-card-title>
        <mat-card-subtitle>
          See all your bids here...
        </mat-card-subtitle>
        <mat-card-content>
          Nothing here
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><span class='material-icons'>history</span></button>
          <button mat-button routerLink='/market'><span class='material-icons'>add_circle_outline</span></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <br><br>
    <div class='col-lg-10 col-lg-offset-1 section'>
      <mat-card>
        <mat-card-title>
          Confirmations
        </mat-card-title>
        <mat-card-subtitle>
          See all your item's highest bids here...
        </mat-card-subtitle>
        <mat-card-content>
          Nothing here
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><span class='material-icons'>history</span></button>
        </mat-card-actions>
      </mat-card>
    </div>
      <div class='col-lg-10 col-lg-offset-1 section'>
        <mat-card>
          <mat-card-title>
            Your items
          </mat-card-title>
          <mat-card-subtitle>
            See all your items here...
          </mat-card-subtitle>
          <mat-card-content>
            Nothing here
          </mat-card-content>
          <mat-card-actions>
            <button mat-button><span class='material-icons'>history</span></button>
            <button mat-button routerLink='/item'><span class='material-icons'>add_circle_outline</span></button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>
</div>