<br><br>
<div class='container'>
    <div class='row'>
        <div class='col-lg-6 offset-lg-3 text-center' color='accent'>
            <mat-card>
                <form class='example-form text-center'>
                    <mat-card-title>What are you looking for?</mat-card-title>
                    <mat-card-content>
                        <mat-form-field class='example-full-width'>
                            <input id='search' matInput type='text' placeholder='House, Car, Gadget, Shoes, Shirt...'>
                        </mat-form-field>
                    </mat-card-content>
                </form>
            </mat-card>
        </div>
    </div>
</div>