.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 50%;
}

#signupCard, mat-card {
  width: 100%;
}

example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

#homeMessage {
  padding: 5%;
}
