<div class='container-fluid'>
    <div class='row'>
        <div class='row'>
            <div class='col-lg-5 col-lg-offset-1' id='homeMessage'>
                <br><br>
                <h1>Find, Bid, Win</h1>
                <h5>Our process is simple, efficient, and transparent</h5>
            </div>
            <div class='col-lg-5'>
                <br>
                <mat-card id='signupCard'>
                    <mat-card-title>Sign Up</mat-card-title>
                    <mat-card-subtitle>Free accounts for everyone</mat-card-subtitle>

                    <mat-card>
                        <h4>Fill up form</h4>
                        <form [formGroup]='signupForm' (ngSubmit)='signupUser()'>
                            <div class="example-container">
                                <mat-form-field>
                                    <input type='text' name='username' matInput placeholder="Input username" [formControl]="signupForm.controls['username']" required>
                                </mat-form-field>
                                <mat-form-field>
                                    <input type='password' name='password' matInput placeholder="Input password" [formControl]="signupForm.controls['password']" required>
                                </mat-form-field>
                                <mat-form-field>
                                    <input type='email' name='email' matInput placeholder="Input email" [formControl]="signupForm.controls['email']" required>
                                </mat-form-field>
                                <button mat-raised-button color='accent'>Submit</button>
                            </div>
                        </form>
                    </mat-card>
                </mat-card>
            </div> 
        </div>
        <div class='col-lg-10 section text-center primaryColorBG' id='section1'>
            <div class='row'>
                <div class='col-lg-10 col-lg-offset-1'>
                    <mat-grid-list id='itemGrid' cols="3" rowHeight="30vh" gutterSize="3vh">
                        <mat-grid-tile>
                            <mat-card>
                                <img mat-card-image src='../../assets/img/box.png'>
                                <mat-card-title>Item #1</mat-card-title>
                                <mat-card-subtitle>This item will be auctioned on DD/MM/YY</mat-card-subtitle>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-card>
                                <img mat-card-image src='../../assets/img/box.png'>
                                <mat-card-title>Item #2</mat-card-title>
                                <mat-card-subtitle>This item will be auctioned on DD/MM/YY</mat-card-subtitle>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-card>
                                <img mat-card-image src='../../assets/img/box.png'>
                                <mat-card-title>Item #3</mat-card-title>
                                <mat-card-subtitle>This item will be auctioned on DD/MM/YY</mat-card-subtitle>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
        </div>
    </div>
</div>