<div class='container'>
  <div class='row'>
    <br><br>
    <div class='col-lg-6 col-lg-offset-3'>
      <mat-card>
        <div class='example-container'>
            <mat-card-title>Log In</mat-card-title>
            <mat-form-field>
              <input type='text' matInput placeholder='Username'>
            </mat-form-field>
            <mat-form-field>
              <input type='password' matInput placeholder='Password'>
            </mat-form-field>
            <br>
            <button mat-raised-button type='submit' color='accent' routerLink='/dashboard'>Log In</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>