<mat-toolbar color='primary'>
  <a routerLink='/'><img id='logo' src='../../assets/img/vendue2.png'></a>

  <!-- This fills the remaining space of the current row -->
  <span class="menu"></span>
  
  <button mat-button [matMenuTriggerFor]="notifications"><span class='material-icons'>notifications</span></button>
  <mat-menu #notifications="matMenu">
    <p mat-menu-item>No new notifications</p>
    <small mat-menu-item><a href='/'>View all notifications</a></small>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu"><span class='material-icons'>menu</span></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Market</button>
    <button mat-menu-item>History</button>
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Login</button>
  </mat-menu>
</mat-toolbar>