.menu {
   flex: 1 1 auto;
}

#logo {
   max-height: 130px;
   max-width: 130px;
   height: auto;
   width: auto;
}

#searchBar {
   margin-right: 2.5vh;
}

@media (min-width: 600px) { 

   #mobileToolbar {
   display: none; 
   }  

}
