<div class='container-fluid'>
  <div class='row'>
    <div class='col-lg-5 col-lg-offset-1 section'>
      <mat-card>
        <div class='example-container'>
          <img mat-card-img src='../../assets/img/box.png'>
          <mat-card-title>Item #1</mat-card-title>
          <mat-card-subtitle>Time remaining: 00 day/s 01 hr/s 02 min/s</mat-card-subtitle>
          <mat-form-field>
            <input matInput type='number' placeholder='1001' min='1000'>
          </mat-form-field>
          <button mat-raised-button color='accent'>BID</button>
        </div>
      </mat-card>
    </div>
    <div class='col-lg-5 section'>
        <mat-card>
          <div class='example-container'>
            <mat-card-title>Auction Logs</mat-card-title>
            <mat-card-subtitle>Know what is happening...</mat-card-subtitle>
          </div>
        </mat-card>
      </div>
  </div>
</div>
